body {
  margin: 0;
  padding: 0;
}
h1 {
  color: #00F;
}
.menu {
  border: 1px #00F solid;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu ul li {
  border: 1px #00F solid;
  display: inline-block;
  width: 100px;
  height: 50px;
}
.menu ul li:hover {
  color: #00F;
  cursor: pointer;
}
.menu ul li:first-child {
  font-weight: bold;
}
